<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Dashboard</title>
  
  {{!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
</head>

<body>
     <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dash Board</a>
        <a href="/" id="logout">Logout</a>
       
        
    </nav>
  <header>
    <h1>Your Dashboard</h1>
  </header>
 
  <main>
      {{{body}}}
  </main>
  <a href="/newpost">+ New Post</a>
</body>

</html>
<script src="/js/logout.js"></script>