 <section>
   {{#each posts as |post|}}
      <div>
        <h4>
          {{post.post_title}}.
        </h4>
        <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
        <p>{{post.body}}</p>
      </div>
    {{/each}}
  </section>